body{
    color: white;
    background-color: #292929;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.nav-section{
    text-align: right;
    user-select: none;
}

.nav-section label{
    cursor: pointer;
    text-decoration: none;
    border: 1px solid white;
    border-bottom: none;
    padding: 10px;
    top: 1px;
    position: relative;
}

.nav-section label:hover{
    background-color: #787878;
    transition: 0.3s;
}

.nav-section label.active{
    background-color: #474747;
    border-bottom: 1px solid #474747;
}

.content-section{
    border: 1px solid white;
    background-color: #474747;
    padding: 100px;
}

.content-section div{
    display: none;
}

.content-section div.active{
    color: yellow;
    display: block;
}

.content-section div .iframe-container{
    text-align: right;
    display: block;
}
