body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 204, 137);
    font-family: 'Devin Chavez Font', sans-serif;
    position: relative;
}

.hidden{
    display: none !important;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    gap: 10px;
}

.outer-container{
    width: 424px;
}

.websites-container{
    width: 95%;
}

.outer-container {
    margin: 20px;
}


button{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: coral;
    cursor: pointer;
}

button:hover{
    background-color: rgb(194, 88, 50);
    transition: background-color 0.2s;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Devin Chavez Font', sans-serif;
}

a:visited {
  color: white;
}