:root {
    --paletteOne: #ffd6d6;
    --paletteTwo: #fa9797;
    --paletteThree: #407088;
    --paletteFour: #132743;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--paletteFour);
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #d7d7d7;
    padding: 1rem 0 0;
}

.tab-button {
    background-color: var(--paletteTwo);
    border: 2px solid white;
    padding: 1rem;
    cursor: pointer;
    border-radius: 15px 15px 0 0;
    top: 2px;
    position: relative;
    margin: 0 5px 0 0;
    color: white;
}

.tab-button:hover {
    background-color: var(--paletteFour);
    color: var(--paletteTwo);
    border-color:  var(--paletteThree);
    transition: background-color 0.2s ease;
}

.tab-content {
    padding: 2rem;
    display: none;
    /* background-color: var(--paletteThree); */
    border: 2px solid white;
    background: linear-gradient(var(--paletteThree), var(--paletteFour));
}

.tab-content h2{
    text-align: center;
    color: white;
}

.active {
    background-color:  var(--paletteThree);
    border-bottom: 2px solid var(--paletteThree);
}

.footer {
    background-color: var(--paletteFour);
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.cardContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* @media screen and (max-width: 600px) {
    .cardContainer{
        background-color: green;
    }
} */

@media screen and ( max-width: 1000px ) {
    .card{
        flex-basis: calc(100% / 3);
    }
}

.card{
    border: 2px solid var(--paletteTwo);
    background-color:  var(--paletteOne);
    background: linear-gradient(var(--paletteTwo), var(--paletteOne));
    border-radius: 15px;
    margin: 10px;
    justify-items: center;
    text-align: center;
    width: 300px;
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.card:hover{
    border: 2px solid white;
    transition: border-color 0.5s ease;
    /* transition: background-color 0.5s ease; */
    background: var(--paletteOne);
    cursor: pointer;
    background-color: var(--paletteOne);
    transition: background-color .3s;
}

img{
    border: 2px solid var(--paletteTwo);
    border-radius: 15px;
    margin: 15px;
    width: 250px;
    height: 200px;
}

.card label{
    font-weight: bold;
    color: white;
    font-size: larger;
}

.card p{
    background-color: var(--paletteTwo);
    color: white;
    padding: 20px;
    text-align: left;
    width: 250px;
}
